* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#container {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    flex: 1 0 21%;
    margin: 5px;
    height: 25%;
    background-color: white;
}

.blue {
    background-color: cornflowerblue;
}