* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#container {
    width: 50vw;
    height: 50vh;
    display: grid;
    border: 5px solid black;
}

.square {
    height: auto;
    width: 100%;
    background-color: white;
}

.blue {
    background-color: cornflowerblue;
}